.message{
    display: block;
    position: fixed;
    top: 45%;
    left: 0%;
    width: 100%;
    padding: 1em;
    border: 1px solid #000;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2em;
    border-radius: 5px;
}
.success{
    color: #089a3b;
    background-color: rgba(222, 222, 222, 0.9);
    border-color: aliceblue;
}
.error{
    color: #b63232;
    background-color: rgba(222, 222, 222, 0.9);
    border-color: aliceblue;
}