.project_container{
    width: 100%;
    padding: 2em;
}
.title_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
.project_container p{
    margin-bottom: .5em;
    color: #7b7b7b;
}
@media screen and (max-width: 900px) {
    .project_container{
        padding: 1em;
    }
    
}