.container{
    
    width: 100%;
    max-width: 1250px;    
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 1em;
    margin-top: 1em;
}
.min-height{
    min-height: 75%;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.space-between{
    display: flex;
    justify-content: space-between;
}


.catalogo{    
    position: relative;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}
.start{
    justify-content: flex-start;
    display: flex;
}

@media screen and (max-width: 916px) {
    .catalogo{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
        
        
        
    }
    
}