.btn {
    background-color: #222;
    text-align: center;
    color:#fff;
    max-height: 45px;
    padding: 0.7em;
    text-decoration: none;
    transition: 0.8s;
}
.btn:hover{
    color: #0b8b38;
}