.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e2e2e;
    padding: 1em;
    
}
@media screen and (max-width: 992px) {    
    .navbar img{
        display: none;        
    }
    .navbar ul{
        flex-wrap: wrap;
    }
    
}
.list{
    display: flex;
    list-style: none;
    align-items: center;
}
.item{
    margin-right: 1em;
}
.item a {
    color: #fff;
    text-decoration: none;
}
.item a:hover{
    color: #0b8b38;
    
}